@import "tailwindcss";


body {
  margin: 0;
  font-family: 'Nico Moji', Courier, monospace;
}

h1,
h2 {
  font-family: 'Nico Moji', Courier, monospace;
  font-weight: 700;
  /* color: var(--text-h); */
}

h2 {
  /* font-size: 24px; */
  line-height: 1.2;
}
p {
  font-family: 'Nico Moji', Courier, monospace;
}

a {
  font-family: 'Nico Moji', Courier, monospace;
  transition: 0.3s all ease;
}

/* foodHub */

.hero-bg {
  background-image: url('/src/assets/imgs/bg-hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.btn-hero {
  font-family: 'Nico Moji', Courier, monospace;
}

.chef-img {
  height: 300px !important;
  /* color: #cbcbcb; */
}